In [1]:
import pandas as pd

In [2]:
tokenized_data = pd.read_csv('../data/tokenized_data_v1.csv')

In [5]:
tokenized_data.drop(columns="Unnamed: 0",inplace=True)

In [14]:
tokenized_data['length'] = tokenized_data['X'].apply(lambda x : len(x.split(', ')))

In [16]:
tokenized_data

,X,y,length
0,"[274, 483, 46, 5715, 293, 331, 3784, 293, 575,...","[80, 5222, 293, 331, 3784, 293, 575, 1506, 306...",287
1,"[80, 5222, 293, 331, 3784, 293, 575, 1506, 306...","[73, 331, 3784, 293, 575, 1506, 306, 366, 582,...",286
2,"[73, 331, 3784, 293, 575, 1506, 306, 366, 582,...","[119, 292, 3784, 293, 575, 1506, 306, 366, 582...",285
3,"[119, 292, 3784, 293, 575, 1506, 306, 366, 582...","[3195, 344, 293, 575, 1506, 306, 366, 582, 362...",286
4,"[3195, 344, 293, 575, 1506, 306, 366, 582, 362...","[73, 575, 1506, 306, 366, 582, 362, 310, 464, ...",287
...,...,...,...
881635,"[292, 692, 283, 2025, 4239, 285, 1354, 7709, 1...","[4397, 283, 2025, 4239, 285, 1354, 7709, 1126,...",423
881636,"[4397, 283, 2025, 4239, 285, 1354, 7709, 1126,...","[5101, 2025, 4239, 285, 1354, 7709, 1126, 260,...",424
881637,"[5101, 2025, 4239, 285, 1354, 7709, 1126, 260,...","[101, 962, 4239, 285, 1354, 7709, 1126, 260, 9...",424
881638,"[101, 962, 4239, 285, 1354, 7709, 1126, 260, 9...","[101, 873, 7644, 285, 1354, 7709, 1126, 260, 9...",425
881639,"[101, 873, 7644, 285, 1354, 7709, 1126, 260, 9...","[2960, 1354, 7709, 1126, 260, 9204, 283, 5588,...",426

In [17]:
tokenized_data['length'].max()

697